# vim: set syntax=yaml:

version: '3'

services:

  tomcat:
    image: 'local/tomcat:8.5'
    build:
      context: '.'
    
    environment:
      DB_RESOURCE_NAME: 'jdbc/helloworld'
      DB_URL: 'jdbc:postgresql://postgres-1.localdomain/helloworld'
      DB_USERNAME: 'user'
      DB_PASSWORD_FILE: 'secrets/db-password'
      DB_DRIVER_CLASS_NAME: 'org.postgresql.Driver'
      MANAGER_PASSWORD_FILE: 'secrets/manager-password'

    volumes:  
    - './dependency/postgresql-42.2.5.jar:/usr/local/tomcat/lib/postgresql-42.2.5.jar:ro'
    - './webapps/hello-servlet.war:/usr/local/tomcat/webapps/hello-servlet.war:ro'
    - './secrets/manager-password:/usr/local/tomcat/secrets/manager-password:ro'
    - './secrets/db-password:/usr/local/tomcat/secrets/db-password:ro'
    
    ports:
    - '8080:8080'

volumes: {}

networks:
  default:
    external:
      name: 'helloworld_1_net'
